.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px 4px black;
    background-color: rgba(0,0,0,0.5);
    min-height: 550px;
    margin-top: 1rem;
}

.card-wrapper {
    width: 15%;
}

.card-body.hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-out;
}

.card-body {
    visibility: visible;
    transition: opacity 0.5s ease-in;
}

.card-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 190px;
}

.card-basics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 350px;
}


img {
    width: 10rem; 
}

.directions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.direction-wrapper img {
    width: 40px;
    height: auto;
    margin: 0.2rem;
}