.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px 4px black;
    background-color: rgba(0,0,0,0.65);
    min-height: 630px;
    margin-top: 1rem;
}

.card-wrapper {
    width: 15%;
}

.card-body.hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-out;
}

.card-body {
    visibility: visible;
    transition: opacity 0.5s ease-in;
}

.card-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 220px;
}

.card-basics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 410px;
}


img {
    width: 10rem; 
}

.directions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.direction-wrapper img {
    width: 40px;
    height: auto;
    margin: 0.2rem;
}

.level-rank-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.level-rank-images img {
    width: 40px;
    height: auto;
    margin: 0.2rem;
}

.attributes-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.attributes-images img {
    height: 50px;
    width: auto;
    margin: 1rem;
}

.modal {
    display: block;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.0);
}

.modal-image {
    height: 85vh;
    width: auto;
}
